.galleryVideos {
  padding: 6rem 0;
}

.galleryVideosMain div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
}

@media only screen and (max-width: 480px) {
  .galleryVideosMain div {
    align-items: center;
    justify-content: center;
  }
}
