.Pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  background-color: #dcc29c;
  border-color: #dcc29c;
  color: #5c5c5c;
}
.pagination > li > a {
  border: 1px solid #f2efeb;
  background-color: #fff;
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 12.5px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  margin-right: 0.1rem;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #dcc29c;
  border-color: #dcc29c;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #dcc29c;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

.pagination > .disabled > a,
.pagination > .disabled > a > svg > path {
  color: rgba(0, 0, 0, 0.3);
  fill: #f2efeb;
}

.Pagination .icon {
  font-size: 1rem;
}

.Pagination .icon path {
  font-size: 1rem;
  fill: #dcc29c;
}
