/* $goldDefault: #dcc29c;
$beigeDefault: #f2efeb;
$blackDefault: #2c2c2c;
$greyDefault: #5e5e5e; */

.btn {
  cursor: pointer;
  width: 160px;
  height: 50px;
  background-color: #e0caa9;
  border: none;
  transition: all 0.5s ease;
}

.btnOutter {
  display: flex;
  padding: 0.2rem;
  border: 1px solid #e0caa9;
  transition: all 0.5s ease;
}

.btnOutter:hover {
  transform: translateY(3px);
}

.btn:hover {
  background-color: #dcc29c;
}
