.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem 6rem;
  z-index: 2;
  background-color: transparent;
  position: absolute;
  /* top: 0; */
  width: 100%;
}

.headerLinks {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.headerLinks a {
  /* text-decoration: underline; */
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
  /* font-size: 1.1rem; */
  /* letter-spacing: 0.1rem; */
}

.headerLinkSecond {
  color: #fff;
  transition: all 0.3s ease;
}

.active {
  /* color: black; */
  opacity: 0.7;
}

.headerLinks a,
.headerLinks a:after,
.headerLinks a:before {
  transition: all 0.5s;
}

/* stroke */
.headerLinks a {
  position: relative;
}
.headerLinks a:after {
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #bc5b5d;
  height: 3px;
}
.headerLinks a:hover:after {
  width: 100%;
}

.logo {
  /* height: 6rem; */
  width: 6rem;
}
