.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0.5rem 6rem;
  z-index: 2;
  background-color: transparent;
  position: absolute;
  /* top: 0; */
  width: 100%;
}

.headerLinks {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.headerLinks a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
}

.headerLinkSecond {
  color: #fff;
  transition: all 0.3s ease;
}

.headerLink:hover {
  opacity: 0.7;
}

.headerLinkSecond:hover {
  color: #dcc29c;
}
