/* $goldDefault: #dcc29c;
$beigeDefault: #f2efeb;
$blackDefault: #2c2c2c;
$greyDefault: #5e5e5e; */

.homeGallery {
  background-color: rgba(255, 255, 255, 0.972);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 8rem;
}

.homeGalleryTitle {
  width: 50%;
}

.imageSlider {
  width: 288px;
  height: 589px;
}

.lace {
  height: 1rem;
  background: repeating-linear-gradient(
    to right,
    #dcc29ca2,
    #dcc29ca2 1px,
    rgba(255, 255, 255, 0.972) 1px,
    rgba(255, 255, 255, 0.972) 8px
  );
  margin-bottom: 0.2rem;
}
