/* $goldDefault: #dcc29c;
$beigeDefault: #f2efeb;
$blackDefault: #2c2c2c;
$greyDefault: #5e5e5e; */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  position: relative;
}

.homeAboutLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem 0 8rem 0;
}

.homeAboutMain {
  background-color: #f2efeb;
  clip-path: polygon(0 25%, 100% 0%, 99% 75%, 0% 100%);
  padding: 10rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tools {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  right: 0;
}
