/* $goldDefault: #dcc29c;
$beigeDefault: #f2efeb;
$blackDefault: #2c2c2c;
$greyDefault: #5e5e5e; */

.cover {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-image: url("../../../images/WomenTwoTest.png"),
    linear-gradient(#dcc29c, #dcc29c);
  background-attachment: fixed;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 10000; */
}

.burger {
  width: 4%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.924);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marble {
  width: 48%;
  height: 100%;
  /* background-color: #dcc29c; */
  background-color: #f2efebf8;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gold {
  width: 48%;
  height: 100%;
  /* clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  ); */
  background-color: #dcc29ce8;
  /* background-image: url("../../../images/WomenTwoTest.png"),
    linear-gradient(to bottom, #dcc29ced, #dcc29ced); */
  /* background-image: url("../../../images/WomenTwoTest.png"),
    linear-gradient(to bottom, #f2efeb, #f2efeb); */
  /* background-size: cover; */
  background-position: right;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to bottom, #dcc29ced, #eee1ceef); */
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.girl {
  position: absolute;
  /* left: -28%; */
  /* left: -40%; */
  bottom: 0;
  /* left: 1%; */
  right: 0;
  width: auto;
  /* height: 80vh; */
  height: 94vh;
  opacity: 1000;
  z-index: 99;
}

.cover .title {
  font-family: "Kaushan Script", cursive;
  font-size: 8rem;
  color: #e9d9c2;
  z-index: 100;
  line-height: 85%;
  margin-bottom: 2rem;
}

.bottomParagraph {
  margin-bottom: 5rem;
}

.cover .socialNetworks {
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 4rem;
  transition: all 0.3s ease;
}

.cover .socialNetworks:hover {
  color: #dcc29c;
}

/* .frame {
  width: 15rem;
}

.frameOutter {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
} */

.cover p {
  padding: 4rem 0;
  font-family: "Raleway";
}

.zailac {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Raleway";
}
