/* $goldDefault: #dcc29c;
$beigeDefault: #f2efeb;
$blackDefault: #2c2c2c;
$greyDefault: #5e5e5e; */

.cover {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../images/background-cover.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.burger {
  width: 4%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.924);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 96%;
  height: 100%;
  padding: 6rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.cover .title {
  font-family: "Kaushan Script", cursive;
  font-size: 8rem;
  color: #e9d9c2;
  z-index: 100;
  line-height: 85%;
  margin-bottom: 4rem;
}

.cover .socialNetworks {
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 4rem;
  transition: all 0.3s ease;
}

.cover .socialNetworks:hover {
  color: #dcc29c;
}
