/* $goldDefault: #dcc29c;
$beigeDefault: #f2efeb;
$blackDefault: #2c2c2c;
$greyDefault: #5e5e5e; */

.cover {
  /* background-image: linear-gradient(to left bottom, #2c2c2cf3, #2c2c2cec),
    url(../../../images/salon_01.jpg); */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60vh;
  width: 100vw;
  position: relative;
}

.imageSmallInFrame {
  width: 35%;
  height: auto;
  /* max-height: 30vh;
  max-width: auto; */
  position: absolute;
  right: 10rem;
  bottom: -2rem;
  border: 8px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 480px) {
  .cover {
    height: 40vh;
  }
  .imageSmallInFrame {
    width: 70%;
    right: 1rem;
    bottom: -2rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .cover {
    height: 40vh;
  }
  .imageSmallInFrame {
    width: 50%;
    right: 2rem;
    bottom: -2rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .cover {
    height: 40vh;
  }
  .imageSmallInFrame {
    width: 40%;
    right: 2rem;
    bottom: -2rem;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .cover {
    height: 40vh;
  }
  .imageSmallInFrame {
    width: 30%;
    right: 2rem;
    bottom: -2rem;
  }
}
