.footer {
  background-color: #2c2c2c;
  color: white;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}

.footerInner {
  margin: 0 8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerLogo {
  width: 100%;
  display: flex;
  align-items: center;
}

.footerLogo .logo {
  width: 5rem;
  margin: 1rem 1rem;
}

.footerLogo .border {
  border-bottom: 1px solid #dcc29c;
  width: 100%;
  height: 50%;
}

.footerInnerMain {
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
  width: 100%;
  margin: 1rem 0;
  padding: 0 2rem 0 6rem;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerLinks a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  color: white;
}

.footerLinks a:hover {
  color: #dcc29c;
}

.social {
  text-align: center;
  display: block;
  padding: 0.8rem 0 0 0;
}

.social img {
  width: 1.5rem;
  height: auto;
  margin: 0 1.6rem 0 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.footerContactData {
  font-size: 0.7rem;
  color: white;
}

.footerContactDataTitle {
  letter-spacing: 0.1rem;
}

.footerContactDataInner:first-child {
  margin-bottom: 2rem;
}

.footerContactDataInner div,
.footerContactDataInner p {
  font-size: 0.7rem;
  color: white;
}

.footerContactDataInner p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.footerContactDataInner a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
}

.footerContactDataInner a:hover {
  cursor: pointer;
  color: #dcc29c;
}

.footerContactEmailAndPhone {
  display: flex;
}

.copyrights {
  font-size: 0.7rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: white;
}

@media only screen and (max-width: 320px) {
  .footerInner {
    margin: 0 2rem;
  }
  .footerInnerMain {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .footerLinks,
  .social {
    display: none;
  }
  .footerContactData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 360px) {
  .footerInner {
    margin: 0 1rem;
  }
  .footerInnerMain {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .footerLinks,
  .social {
    display: none;
  }
  .footerContactData {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (min-width: 361px) and (max-width: 768px) {
  .footerInner {
    margin: 0 2rem;
  }
  .footerInnerMain {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .footerLinks,
  .social {
    display: none;
  }
  .footerContactData {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}
