.galleryCards {
  overflow: auto;
  position: relative;
  cursor: pointer;
}

.galleryCards img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in;
}

.galleryCards:hover img {
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}
