.burger {
  width: 4%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.socialNetworks {
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 3rem;
  display: flex;
  transition: all 0.3s ease;
}

.socialNetworks:hover,
.burgerIcon:hover path,
.socialNetworks:hover .icons path {
  color: #dcc29c;
}

.burgerIcon {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  z-index: 3;
}

.burgerIcon svg:hover svg {
  cursor: pointer;
  fill: #dcc29c;
}

.socialNetworks svg {
  transform: rotate(90deg);
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
  transition: all 0.3s ease;
}
